.profile {
  padding: 1px 1px 15px 1px;
  margin: 10px 10px 10px 10px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15),
    0 0 0 1px rgba(63, 63, 68, 0.05);
  margin: 20px 210px 0px 210px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.profileFourth {
  padding: 10px 10px 10px 20px;
}

.saySomething {
  color: #3c5a40;
  font-weight: bold;
  font-size: 20px;
}

.submitButton {
  color: white;
  background-color: #3c5a40;
  font-size: 16px;
  padding: 8px;
  transition: all 0.25s linear;
  overflow-x: hidden;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.formGroup {
  background-color: #fafbfc;
  width: 380px;
  height: 84px;
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.rate {
  height: 40px;
  margin: 40px 4px 4px 4px;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  box-sizing: unset;
  border-width: unset;
  border-style: none;
  border-image: none;
  color: transparent;
  background-color: transparent;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #3c5a40;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #3c5a40;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #3c5a40;
}

.totalNumRating {
  color: #3c5a40;
  font-size: 20px;
  white-space: nowrap;
  text-decoration: none;
  cursor: auto;
  padding-left: 10px;
}

.personName {
  color: #3c5a40;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.boxComment {
  margin: 5px 5px 5px 20px;
}

.exButton {
  color: white;
  background-color: #3c5a40;
  font-size: 13px;
  transition: all 0.25s linear;
  overflow-x: hidden;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 5px;
}

.commentsButton {
  color: #3c5a40;
  font-size: 16px;
  transition: all 0.25s linear;
  overflow-x: hidden;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-decoration: underline;
}
